body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-family: pt sans regular;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-family: pt sans bold;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #333333;
	font-family: pt sans bold;
}