body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "pt sans", "arial", sans-serif;
	text-transform: uppercase;
	background: white;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: pt sans;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: pt sans;
}

.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.main-header {
	margin-bottom: 75px;
	background: white;
}

.container {
	width: 1200px;
	margin: 0 auto;

}

.main-navigation {
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 15px;
  line-height: 25px;
  vertical-align: top;
}

.main-navigation a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 20px 25px;
}

.index-logo {
	height: 355px;
	width: 460px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	margin-top: 60px;
}

.main-content {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.main-bg {
	margin-bottom: 60px;
	background-image: url(../img/background-photo.jpg);
}

.topic {
	width: 490px;
	margin-right: auto;
	margin-left: auto;	
	margin-bottom: 50px;

}

.reason {
	clear: both;	
	width: 1200px;
	text-align: center;
}

.reason-features {
	float: left;
	width: 400px;
	min-height:260px;
	background: #81b3d2;
	
}

.reason-features-1 {
	float: left;
	width: 400px;
	min-height:330px;
}

.reason-features-2 {
	float: left;
	width: 400px;
	min-height:260px;
	background: #eee;
}

.bg-reason-1 {
	float: left;
	width: 800px; 
	min-height: 260px;	
	background-image: url(../img/bg-reason1.jpg);
}

.bg-reason-2 {
	float: left;
	width: 800px; 
	min-height: 260px;	
	background-image: url(../img/bg-reason2.jpg);
}

.button-wrapper {
	width: 570px;
	min-height: 480px;
	margin-right: auto;
	margin-left: auto;	
}

.hotels-search {
	width: 570px;
	min-height: 85px;
	margin-bottom: 80px;
}

.main-footer {
	min-height: 120px;
}


.footer-hashtag {
	float: left;
	width: 400px;
	min-height: 120px;
}

.footer-social {
	float: left;
	width: 400px;
	min-height: 120px;
}

.footer-copyright {
	float: left;
	width: 400px;
	min-height: 120px;
}

/*catalog*/

.options {
	clear: both;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.options-features {
	float: left;
	width: 240px;
	min-height: 220px;	
}

.found-hotels {
	width: 1200px;
	min-height: 540px;
	margin-left: auto;
	margin-right: auto;
}

.found {
	clear: both;
	width: 1200px;
	min-height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.found-in {
	float: left;
	width: 235px;
	min-height: 150px;		
}

.found-middle {
	float: left;
	width: 370px;
	min-height: 150px;		
}

.right {
	float: right;
}
